@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif ;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
   background: #ffffff;
}

.navigation {
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  width: 1060px;
  margin: 0;
  padding: 0 70;
}

.navigation-logo {
  display: flex;
  margin-right: 70px;
  padding: 0;
  width: 139px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 460px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 300px;
  list-style: none;
  display: flex;
}

.navigation-item {
display: block;
padding: 20px 17px;
}

.navigation-user .navigation-item {
  min-height: 42px;
  min-height: 66px;
}

.page-container {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.page-header a {
  color: #000000;
  text-decoration: none;
}

.page-footer a{
  color: #000000;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.promo {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo-frame {
  background-size: 100% auto;
  text-align: center;
}

.advantages {
  padding-top: 60px;
  margin-bottom: 91px;
}

.advantages-list {
  display: flex;
  text-align: center;
  margin: 0;     
  padding: 0;
  min-height: 384px;

}

.advantages-item {
  padding-top: 91px;
  background-color: #83B3D31F;
  width: 400px;
  text-align: center;
  list-style: none;
}

.advantages-item:nth-child(2) {
  background-color: #FFFFFF;
}

.advantages-item:nth-child(5) {
  background-color: #83B3D3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.advantages-item p{
  text-align: center;
  color: #333333;
  font-weight: 400;
  width: 250px;
  margin: 0;
  margin-bottom: 79px;
}

.title_town {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.title_town .picture{
  width: 800px;
}

.causes {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 79px;
}

.town-photo {
  display: flex;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
}

.photo-block {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.town-photo b {
  margin-bottom: 25px;
  text-transform: uppercase;
}

.town-photo .number {
  width: 65px;
  margin-bottom: 30px;
}

.town-photo p {
  width: 220px;
  margin: 0;
  text-align: center;
}

.town-causes {
  display: flex;
  margin: 0 auto;
  margin-bottom: 91px;
}

.take-mailing {
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  text-align: center; 
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 93px;
  padding-bottom: 94px;
}

.take-mailing input {
  font-family: inherit;
  width: 600px;
  padding: 0 0 0 200;
}

.mailing-info {
  margin-bottom: 26px;
}

.take-mailing .button-blue {
  width: 200px;
  padding: 0 200 0 0;
  margin: bottom 93px; ;
}

.mailing {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center; 
  margin-bottom: 15px;
  margin-top: 0;
}

.want-hotel {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  width: 1200px;
  margin: 0;

}

.want {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding: 0 240;
  margin-bottom: 15px;
  margin-top: 0;
}

.logo-academy {
  text-align: right;
}

.main-inner {
  margin-bottom: 73px;
}

.inner-header  {
  background-image: url(../images/catalog-background.jpg);
  color: #FFFFFF
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  margin-bottom: 5px;
  margin-right: 71px;
  margin-top: 0;
  padding-left: 70px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 73px;
  padding-left: 70px;
}

.breadcrumbs-item {
  
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.button-price {
  display: flex;
  flex-direction: column;
  margin-right: 72px;
}

.button-price .button-blue {
  width: 160px;
  min-width: 48px;
  align-items: center;
text-align: center;
text-transform: uppercase;
}

.catalog-filter {
  display: flex;
  margin: 45px 0;
  padding-left: 70px;
}

.catalog-filter-group {
  font-size: 18px;
  line-height: 23px;
  list-style: none;
  
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  list-style: none;
}

.hotel-list a {
  color: #000000;
  text-decoration: none;
}

.sorting-container {
  width: 1057px;
  min-height: 48px;
  display: flex;
  padding: 49px 0;
  margin: 0 auto;
  align-items: center;
}

.sorting-container b {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
margin: 0;
padding: 0;
width: 287px;
height: 48px;
margin-left: 50px;
}

.interface-list {
  width: 160px;
  min-height: 48px;
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 81px;
  padding: 0;
}

.interface-item {
width: 48px;
height: 48px;
}

.hotel-list{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
}

.button-blue .pagination-show-more {
  display: inline;
  align-items: center;
  width: 620px;
  height: 60px;
  padding: 30px 290px;
}

.sorting-container-pagination {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 301px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  margin-right: 8px;
  line-height: 26px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.hotel-search b{
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  margin-left: auto;
}

.select-control-hotel {
  margin-left: 51px;
  width: 160px;
  height: 48px;

}

page-footer {
  justify-content: space-between;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  max-width: 120px;
  margin-right: auto;
 
}

.tel {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
width: 115px;
margin-left: auto;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding: 0 72px;
}

.take-mailing-catalog {
  width: 800px;
  align-items: center;
  margin: 0 auto;
}

.take-mailing-catalog input{
  width: 600px;
  min-height: 60px;
  background-color: #F2F2F2;
}

.mailing-info-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 46px;
}

.mailing-catalog {
  align-items: center;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 46px;
}

.take-mailing-catalog .button-blue {
  width: 200;
  min-height: 61px;
  margin: 0;
  padding: 0;
}

.button-blue {
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.hotel-card .button-blue {
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.hotel-card .button-green {
  background-color: #7DB54F;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.hotel-card .scan-button {
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.scan-button {
  background-color: #756257;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.want-hotel .scan-button {
  background-color: #756257;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
  padding: 0 313 0 312;
  margin-bottom: 93px;
}

.pagination-item .button-blue{
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.button-mini {
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}