@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

body {
    font-family: "PT Sans", sans-serif ;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background-color: #FFFFFF;
  
}

.page-header {
    color: #000000;
    background: #ffffff;
  }
  .navigation {
    font-family: "PT Sans", sans-serif ;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .page-header a {
      color: #000000;
      text-decoration: none;
  }
  .adventages a {
    color: #000000;
    text-decoration: none;
}
.page-footer a{
    color: #000000;
    text-decoration: none;
}

  .main-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .logo-frame{
    background-size: 100% auto;
    text-align: center;

      }
.adventages { 
    background-color: #ffffff;
}
  .advantages-list {
    text-align: center;
  }
  .title_town{
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
  .causes {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
  }

  .advantages-link {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
  .town-photo {
      color: #FFFFFF;
      background-color: #83B3D3;
  }
.advantages-list {
    color: #333333;
}
.advantages-item a {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
}

.take-mailing {
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    text-align: center; 
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
.mailing {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center; 
}
.want-hotel {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}
.want {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.social {
    text-align: left;
    text-decoration: none;

}
.tel {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}
.logo-academy {
    text-align: right;
}


.inner-header  {
    background-image: url(../images/catalog-background\ 1.jpg);
    color: #FFFFFF;
        
}
.inner-header-title{
    font-size: 60px;
    line-height: 78px;
}

.catalog-filter-group {
    font-size: 18px;
    line-height: 23px;
}
.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
}
.hotel-list a {
    color: #000000;
    text-decoration: none;
}
.hotel-list{
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.hotel-card-title {
    font-size: 24px;
    line-height: 31px;
}

.mailing-info-catalog {
    color: #333333;
}
.footer-tel {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

.button-blue {
    background-color: #83B3D3;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.hotel-card .button-blue {
    background-color: #83B3D3;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.hotel-card .button-green {
    background-color: #7DB54F;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.hotel-card .scan-button {
    background-color: #756257;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.scan-button {
    background-color: #756257;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.want-hotel .scan-button {
    background-color: #756257;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.pagination-item .button-blue{
    background-color: #83B3D3;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
}
