@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif ;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
}

.page-header {
   background: #ffffff;
}

.navigation {
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 70px;
  padding: 0;
  width: 139px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 460px;
}

.navigation-user {
  margin-left: auto;
  max-width: 300px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.page-header a {
  color: #000000;
  text-decoration: none;
}

.page-footer a{
  color: #000000;
  text-decoration: none;
}

.main-index {
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo-frame {
  background-size: 100% auto;
  text-align: center;
}

.adventages { 
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: #83B3D31F;
  width: 400px;
}

.advantages-item:nth-child(2) {
  background-color: #FFFFFF;
}

.advantages-item:nth-child(5) {
  background-color: #83B3D3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 23 75;
}

.advantages-item p{
  text-align: center;
  color: #333333;
  font-weight: 400;
  width: 250px;
  padding: 20 75;
}

.title_town {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  width: 720px;
  margin: 0 auto;
}

.title_town .picture{
  width: 800px;
}

.causes {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  width: 720px;
  margin: 0 auto;
}

.town-photo {
  display: flex;
  flex-direction: spspace-between;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 1200px;
}

.town-photo .advantages-item-blue {
  width: 400px;
}

.town-photo .number {
  width: 65px;
}

.town-photo p {
  width: 220px;
}

.take-mailing {
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  text-align: center; 
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  width: 1200px;
}

.take-mailing input {
  font-family: inherit;
  width: 600px;
  padding: 0 0 0 200;
}

.take-mailing .button-blue 
{
  width: 200px;
  padding: 0 200 0 0;
}

.mailing {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center; 
}

.want-hotel {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  width: 1200px;

}

.want {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding: 0 240;
}

.logo-academy {
  text-align: right;
}

.inner-header  {
  background-image: url(../images/catalog-background.jpg);
  color: #FFFFFF;
      
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
}

.catalog-hotel {
  display: flex;
  flex-direction: row;
}

.catalog-filter-group {
  font-size: 18px;
  line-height: 23px;
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.hotel-list a {
  color: #000000;
  text-decoration: none;
}

.sorting-containerol {
  width: 1057px;

}

.interface-list {
  width: 1056px;
  padding: 0 72;
}

.hotel-list{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
}

.mailing-info-catalog {
  color: #333333;
}

.page-footer {
  width: 1200px;
  justify-content: space-between;
}

.social-list {
  text-decoration: none;
  max-width: 120px;
  padding: 0 1021 0 72;
  margin-right: auto;
}

.tel {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  width: 720px;
  padding: 0 240;
}

.footer-logo {
width: 115px;
margin-left: auto;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.button-blue {
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.hotel-card .button-blue {
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.hotel-card .button-green {
  background-color: #7DB54F;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.hotel-card .scan-button {
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.scan-button {
  background-color: #756257;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

.want-hotel .scan-button {
  background-color: #756257;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
  padding: 0 313 0 312;
}

.pagination-item .button-blue{
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}

